api_key                   = "your-api-key"
oauth_token               = "your-oauth-token"
other_secret              = "your-other-secret"
cloud_watch_logs_group_arn = "arn:aws:logs:us-east-1:YOUR_ACCOUNT_ID:log-group:cloudtechs-secretsmanager-loggroup"
